.auto {
  margin-bottom: 100px;
}
.auto__item-box {
  max-width: fit-content;
  text-align: center;
  padding: 6px 6px 16px 6px;
  border: 1px solid #c4c4c4;
  transition: all 0.5s;
}
.auto__item-box:hover {
  color: #fff;
  background-color: #5a0d67;
  border-color: #5a0d67;
}
.auto__item-img {
  max-width: 100%;
  margin-bottom: 23px;
}
.auto__item-title {
  font-weight: 300;
  margin-bottom: 5px;
}

@media (max-width: 600px) {
  .auto {
    margin-bottom: 80px;
  }

  .auto__item-img {
    width: 100%;
    margin-bottom: 23px;
  }
}
@media (max-width: 520px) {
  .auto {
    margin-bottom: 50px;
  }
}
