.auto-slider__pagination {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  list-style: none;
  gap: 20px;
}
.auto-slider__pagination-bullet {
  padding-top: 30px;
  position: relative;
  width: 50px;
}
.auto-slider__pagination-bullet::after {
  content: "";
  position: absolute;
  top: 15px;
  width: 50px;
  background-color: #c4c4c4;

  height: 3px;
  clip: rect(auto, auto, 1px, auto);

  transition: clip 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.auto-slider__pagination-bullet--active::after {
  background-color: #5a0d67;
  clip: rect(auto, auto, 3px, auto);
}

@media (max-width: 520px) {
  .auto-slider__pagination-bullet {
    width: 20px;
  }
  .auto-slider__pagination {
    margin-top: 30px;
  }
}
@media (max-width: 340px) {
  .auto-slider__pagination-bullet {
    margin-top: 15px;
  }
}
