.benefits {
  margin-bottom: 100px;
}
.benefits__inner {
  display: flex;
}
.benefits__img {
  margin-right: 95px;
}
.benefits__content {
  width: 100%;
}
.benefits__title {
  margin-left: 185px;
}
.benefits__cards {
  background: #21062a;
  padding: 25px 0 25px 185px;
  color: #fff;
}
.benefits__card {
  padding-bottom: 20px;
  list-style: none;
  width: 320px;
}
.benefits__card-num {
  font-weight: 400;
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
}
.benefits__card-title {
  font-size: 24px;
  line-height: 36px;
}
.benefits__card-text {
  color: #c4c4c4;
}
@media (max-width: 1024px) {
  .benefits__img {
    display: none;
  }
}

@media (max-width: 768px) {
  .benefits__title {
    margin-left: 0px;
  }
  .benefits__inner {
    text-align: center;
  }
  .benefits__cards {
    padding: 25px 15px;
  }
  .benefits__card {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .benefits {
    margin-bottom: 80px;
  }

  .benefits__card-num {
    font-size: 28px;
    line-height: 36px;
  }
}
@media (max-width: 520px) {
  .benefits {
    margin-bottom: 50px;
  }
}
