.contacts__wrapper {
  padding: 0 0 0 10px;
}
.contacts__inner {
  display: flex;
  justify-content: space-between;
}
.contacts__info {
  margin-top: 50px;
}
.contacts__list {
  list-style: none;
}
.contacts__item {
  margin-bottom: 20px;
}
.contacts__item-title {
  color: #5a0d67;
}
.contacts__form {
  background-color: #21062a;
  padding: 50px 75px 57px;
  text-align: center;
}
.contacts__title {
  color: #fff;
  margin-bottom: 53px;
  margin-left: 53px;
  text-align: left;
}
.contacts__title::after {
  background-color: #fff;
}
.contacts__input {
  border: 1px solid #ffffff;
  background-color: transparent;
  width: 450px;
  height: 75px;
  display: block;
  margin-bottom: 12px;
  color: #ffffff;
  text-align: center;
  font-size: 24px;
  padding: 0 15px;
}
.contacts__input::placeholder {
  font-family: Oswald;
  font-style: normal;
  text-align: center;
  color: #c4c4c4;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
}

.contacts__btn {
  border: none;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 26px;
  cursor: pointer;
}

@media (max-width: 900px) {
  .contacts__wrapper {
    padding: 0 0 0 0;
  }
  .contacts__title {
    margin-left: 0;
    text-align: center;
  }
  .contacts__inner {
    display: block;
    text-align: center;
  }
  .contacts__list {
    margin-bottom: 30px;
  }
  .contacts__input {
    width: 100%;
  }
}
@media (max-width: 520px) {
  .contacts__form {
    padding: 50px 10px 57px;
  }
}
