.footer {
  background: #21062a;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  color: #ffffff;
}

@media (max-width: 650px) {
  .footer__inner {
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    padding: 20px 0;
  }
  .footer__social {
    width: 100%;
    justify-content: center;
    margin: 25px 0;
  }
}
@media (max-width: 520px) {
  .footer__social {
    margin: 0 0 15px 0;
  }
}
