body {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  color: #2c2b2b;
}

a {
  color: inherit;
}

.wrapper {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.btn {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding: 14px 54px 15px;
  background-color: #5a0d67;
  transition: all 0.5s;
  color: #fff;
}
.btn:hover {
  background-color: #fff;
  color: #5a0d67;
}

.btn--decor {
  margin-bottom: -7px;
  position: relative;
}
.btn--decor::after {
  content: "ЖМИ";
  position: absolute;
  margin-left: 130px;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #c4c4c4;
  top: 14px;
}
.btn--decor::before {
  content: "";
  width: 80px;
  height: 1px;
  background-color: #c4c4c4;
  margin-left: 180px;
  position: absolute;
  top: 24px;
  right: -65px;
}
.btn--decor:hover {
  border: 1px solid #5a0d67;
}

.title {
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;
  text-transform: uppercase;
  color: #21062a;
  margin-bottom: 50px;
  position: relative;
}
.title::after {
  content: "";
  width: 80px;
  height: 3px;
  background-color: #21062a;
  position: absolute;
  top: 20px;
  margin-left: 20px;
}
@media (max-width: 600px) {
  body {
    font-size: 16px;
    line-height: 22px;
  }
}
@media (max-width: 600px) {
  .title {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 30px;
    text-align: center;
  }
  .title::after {
    display: none;
  }
}
@media (max-width: 520px) {
  .btn--decor::before,
  .btn--decor::after {
    display: none;
  }
}
