.header {
  background-image: url("../images/header_bg.jpg");
  background-color: #21062a;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  min-height: 700px;
  color: #fff;
}

.header__top {
  padding: 47px 0 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__content {
  position: relative;
}
.header__title {
  padding-top: 60px;
  font-weight: 400;
  font-size: 72px;
  line-height: 107px;
  text-transform: uppercase;
}
.header__subtitle {
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.header__description {
  margin-bottom: 30px;
  max-width: 800px;
}
.header__social {
  padding: 85px 0 20px 65px;
}
.header__images {
  position: absolute;
  right: 0;
  bottom: -270px;
  clip-path: polygon(2.43% 38.26%, 48.07% 0%, 100% 0%, 100% 100%, 0 100%);
}
.header__phone {
  font-weight: 400;
  font-size: 36px;
  color: inherit;
  line-height: 53px;
}
.header__phone:hover {
  text-decoration: underline;
}
@media (max-width: 1024px) {
  .header__images {
    width: 80%;
  }
}
@media (max-width: 900px) {
  .header__title {
    font-size: 54px;
    line-height: 74px;
  }
  .header__subtitle {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 20px;
  }
  .header__social {
    padding: 45px 0 20px 65px;
  }
  .header__phone {
    font-size: 24px;
    line-height: 36px;
  }
}
@media (max-width: 600px) {
  .header__content {
    text-align: center;
  }
  .header__title {
    padding-top: 0px;
  }
  .header__social {
    padding: 45px 0 20px 0px;
  }
  .header__images {
    position: static;
  }
}
@media (max-width: 520px) {
  .header__top {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .header__title {
    margin: 0 auto 20px;
    max-width: 350px;
  }
  .header__subtitle {
    width: 270px;
    margin: 0 auto 20px;
  }
  .header__description {
    margin: 0 auto 30px;
    max-width: 350px;
  }
}
@media (max-width: 340px) {
  .header__top {
    padding: 25px 0 25px;
  }
  .header__title {
    font-size: 44px;
    line-height: 50px;
  }
}
