.services {
  margin-top: 300px;
}
.services__inner {
  display: flex;
  margin-bottom: 100px;
}
.services__content {
  width: 505px;
  margin-right: 96px;
}
.services__content-title {
  color: #5a0d67;
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
  margin-bottom: 12px;
}
.services__content-textbox {
  margin-bottom: 57px;
}
.services__content-text {
  margin-bottom: 12px;
}

.services__list {
  list-style: none;
  counter-reset: my-counter;
}
.services__item {
  counter-increment: my-counter;
  border: 1px solid #c4c4c4;
  margin-bottom: 12px;
  width: 450px;
  padding: 10px 15px 10px 113px;
  position: relative;
  transition: all 0.5s;
}
.services__item::before {
  content: "0" counter(my-counter);
  position: absolute;
  font-weight: 400;
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
  color: #c4c4c4;
  transform: rotate(-90deg);
  left: 20px;
  top: 15px;
  transition: all 0.5s;
}

.services__item:hover {
  border: 1px solid #5a0d67;
  width: 500px;
}
.services__item:hover .services__item-title {
  color: #5a0d67;
}
.services__item:hover::before {
  color: #5a0d67;
}
.services__item-title {
  font-size: 24px;
  line-height: 36px;
}
.services__item-text {
  color: #000000;
}
@media (max-width: 1140px) {
  .services {
    margin-top: 250px;
  }
  .services__item:hover {
    border: 1px solid #5a0d67;
    width: 450px;
  }
}
@media (max-width: 1024px) {
  .services__inner {
    flex-wrap: wrap;
  }
  .services__list {
    order: -1;
    margin-bottom: 30px;
    width: 100%;
  }
  .services__item {
    width: 100%;
  }
  .services__item:hover {
    width: 100%;
  }
  .services__content {
    width: 100%;
    margin-right: 0;
  }
}

@media (max-width: 900px) {
  .services {
    margin-top: 100px;
  }
}
@media (max-width: 600px) {
  .services {
    margin-top: 80px;
  }
  .services__inner {
    margin-bottom: 80px;
  }

  .services__content {
    text-align: center;
  }
  .services__content-textbox {
    margin-bottom: 30px;
  }
  .services__item::before {
    top: 12px;
  }
}
@media (max-width: 520px) {
  .services {
    margin-top: 50px;
  }
  .services__item {
    padding: 10px 15px 10px 60px;
  }
  .services__inner {
    margin-bottom: 50px;
  }

  .services__item::before {
    left: 11px;
    top: 20%;
  }
  .services__content-textbox {
    margin-bottom: 37px;
  }
}
