.social {
  display: flex;
  gap: 10px;
  align-items: center;
}
.social__link {
  display: flex;
  width: 26px;
  height: 26px;
  transition: all 0, 3s;
}
.social__icon {
  display: block;
  margin: auto;
}
.social__link:hover {
  transform: scale(1.2);
}
@media (max-width: 600px) {
  .social {
    justify-content: center;
  }
}
